# ML4N - Group Project 7
# Analysing Adversarial Attacks on Tabular Data Classifiers

In [1]:
# import needed python libraries
# Per ora ci ho messo quanta più roba potesse servire, in seguito rimuoviamo ciò che non serve 

%matplotlib inline

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

# 1 Data exploration and preprocessing

1.1 Dataset Acquisition

In [2]:
#List of Attributes for dataset acquired from german.doc
#good/bad is the label 1 means good customer while 2 means bad
attributes = ["Status_account", "Duration", "Credit_history","Purpose",
             "Credit_amount","Savings_account/bonds","Employment_since","Install_rate",
              "Personal_status_sex","debtors_guarantors","Present_residence_since",
              "Property","Age","Other_install_plans","Housing","No_credits","Job",
              "No_people_liable","Telephone","foreign_worker","good/bad"] 

#Acquiring dataset from german.data file
df = pd.read_csv("german.data", sep=' ', names = attributes)
df

,Status_account,Duration,Credit_history,Purpose,Credit_amount,Savings_account/bonds,Employment_since,Install_rate,Personal_status_sex,debtors_guarantors,...,Property,Age,Other_install_plans,Housing,No_credits,Job,No_people_liable,Telephone,foreign_worker,good/bad
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

1.2 Data Preprocessing

In [3]:
#Qualitative attributes that do not require encoding 
to_remove = ["Duration","Credit_amount","Install_rate","Present_residence_since",
             "Age","No_credits","No_people_liable","good/bad"] 

#Creating the list with the categorical attributes to be encoded
to_be_encoded = attributes.copy()
for el in to_remove:
    to_be_encoded.remove(el)

    
#K normalizing only the numerical values before one hot encoding for later uses 
scaler2 = MinMaxScaler()
df_normalized_with_categorical = df.copy()
df_normalized_with_categorical[to_remove] = scaler2.fit_transform(df_normalized_with_categorical[to_remove])
#display(df_normalized_with_categorical)

#Using One Hot Encoding to transform categorical attributes into qualitative ones
df_encoded = pd.get_dummies(df, columns=to_be_encoded, dtype = int)
display(df_encoded)

#Normalization between [0,1] and split into 80% training and 20% test 
#Note: Might be worth using k-fold Cross Validation or some other way
scaler = MinMaxScaler()


#K creation of the pandas dataframe of the normalized values
array_df_encoded2 = scaler.fit_transform(df_encoded)

df_normalized = pd.DataFrame(array_df_encoded2, columns=df_encoded.columns)
display(df_normalized)

features = df_encoded.columns.drop("good/bad")
X, X_test, y, y_test = train_test_split(
    df_encoded[features], # X
    df_encoded['good/bad'], # y
    stratify = df_encoded['good/bad'], # stratify the dataset based on class labels
    train_size = 0.8, # percentage of training set
    random_state = 15 
)


X_scaled = scaler.fit_transform(X)
X_test_scaled = scaler.transform(X_test)

#Clearly define categories or classes ????? Maybe inside report????

,Duration,Credit_amount,Install_rate,Present_residence_since,Age,No_credits,No_people_liable,good/bad,Status_account_A11,Status_account_A12,...,Housing_A152,Housing_A153,Job_A171,Job_A172,Job_A173,Job_A174,Telephone_A191,Telephone_A192,foreign_worker_A201,foreign_worker_A202
0,6,1169,4,4,67,2,1,1,1,0,...,1,0,0,0,1,0,0,1,1,0
1,48,5951,2,2,22,1,1,2,0,1,...,1,0,0,0,1,0,1,0,1,0
2,12,2096,2,3,49,1,2,1,0,0,...,1,0,0,1,0,0,1,0,1,0
3,42,7882,2,4,45,1,2,1,1,0,...,0,1,0,0,1,0,1,0,1,0
4,24,4870,3,4,53,2,2,2,1,0,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,4,31,1,1,1,0,0,...,1,0,0,1,0,0,1,0,1,0
996,30,3857,4,4,40,1,1,1,1,0,...,1,0,0,0,0,1,0,1,1,0
997,12,804,4,4,38,1,1,1,0,0,...,1,0,0,0,1,0,1,0,1,0
998,45,1845,4,4,23,1,1,2,1,0,...,0,1,0,0,1,0,0,1,1,0
999,45,4576,3,4,27,1,1,1,0,1,...,1,0,0,0,1,0,1,0,1,0

,Duration,Credit_amount,Install_rate,Present_residence_since,Age,No_credits,No_people_liable,good/bad,Status_account_A11,Status_account_A12,...,Housing_A152,Housing_A153,Job_A171,Job_A172,Job_A173,Job_A174,Telephone_A191,Telephone_A192,foreign_worker_A201,foreign_worker_A202
0,0.029412,0.050567,1.000000,1.000000,0.857143,0.333333,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,0.647059,0.313690,0.333333,0.333333,0.053571,0.000000,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.117647,0.101574,0.333333,0.666667,0.535714,0.000000,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.558824,0.419941,0.333333,1.000000,0.464286,0.000000,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,0.294118,0.254209,0.666667,1.000000,0.607143,0.333333,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.117647,0.081765,0.666667,1.000000,0.214286,0.000000,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
996,0.382353,0.198470,1.000000,1.000000,0.375000,0.000000,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
997,0.117647,0.030483,1.000000,1.000000,0.339286,0.000000,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
998,0.602941,0.087763,1.000000,1.000000,0.071429,0.000000,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
999,0.602941,0.238032,0.666667,1.000000,0.142857,0.000000,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

1.3 Exploratory Data Analysis

In [ ]:
####### Histograms of average values
print("\nHistogram with the means of critical data differences between people whose loan is accepted(\"good people\") and people whose isn't (\"bad people\"):\n")

### removing useless columns for means

## Creating the list with the categorical attributes to be encoded
to_remove_new = []
attributes_numerical = ["Duration", "Credit_amount", "Install_rate",
              "Present_residence_since","Age","No_credits",
              "No_people_liable","good/bad"] 


for el in df_normalized.columns.tolist():
    if el in attributes_numerical:
        pass
    else:
        to_remove_new.append(el)
#print(to_remove_new)

df_normalized_numerical = df_normalized.drop(to_remove_new, axis = 1)
#display(df_normalized_numerical)


####### separating "good customer" from "bad customer" data

df_normalized_good = df_normalized_numerical.loc[df_normalized["good/bad"]==0.0]
#display(df_normalized_good)
df_normalized_bad = df_normalized_numerical.loc[df_normalized["good/bad"]==1.0]
#display(df_normalized_good)


####### removing the label column

df_normalized_no_label_good = df_normalized_good.drop("good/bad", axis = 1)
df_normalized_no_label_bad = df_normalized_bad.drop("good/bad", axis = 1)
# display(df_normalized_no_label_good)

####### calculating means

columns_means_good = df_normalized_no_label_good.mean().tolist()
columns_means_bad = df_normalized_no_label_bad.mean().tolist()

####### showing the bar plot
x = np.arange(7)
width = 0.4
fig, ax = plt.subplots(figsize=(20, 10))
ax.bar(x+width/2, columns_means_good, width=0.4, label="good people")
ax.bar(x-width/2, columns_means_bad, width=0.4, label="bad people")
ax.set_xticks(x, df_normalized_no_label_good.columns.tolist())
ax.legend(loc=(1.1,0.5))
plt.show()


####### Scatter plots of most interestring features????
print("normal numerical")
sns.pairplot(df_normalized_numerical, hue='good/bad')
plt.show()
for x in ["A11","A12","A13","A14"]:
    print(f"Status_account {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Status_account"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A30","A31","A32", "A33", "A34"]:
    print(f"Credit_history {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Credit_history"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A40","A41","A42", "A43", "A44", "A45", "A46", "A47" ,"A48" ,"A49" ,"A410" ]:
    print(f"Purpose {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Purpose"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A61","A62","A63", "A64", "A65"]:
    print(f"Savings_account/bonnds {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Savings_account/bonds"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A71","A72","A73", "A74", "A75"]:
    print(f"Employment_since {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Employment_since"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A91","A92","A93", "A94", "A95"]:
    print(f"Personal_status_sex {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Personal_status_sex"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A101","A102","A103"]:
    print(f"debtors_guarantors {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["debtors_guarantors"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A121","A122","A123", "A124"]:
    print(f"Property {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Property"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A141","A142","A143"]:
    print(f"Other_install_plans {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Other_install_plans"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A151","A152","A153"]:
    print(f"Housing {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Housing"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A171","A172","A173", "A174"]:
    print(f"Job {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Job"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A191","A192"]:
    print(f"Telephone {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["Telephone"]==x, to_remove], hue='good/bad')
    plt.show()
for x in ["A201", "A202"]:
    print(f"foreign_worker {x}")
    sns.pairplot(df_normalized_with_categorical.loc[df_normalized_with_categorical["foreign_worker"]==x, to_remove], hue='good/bad')
    plt.show()

    
#     

####### Correlation Matrices

####### Provide insights into under-lying patterns and, most importantly, 
####### identify features significantly influencing loan risk classification







## notes:
#56
# 1: Duration - Bad people usually have a longer duration of the loan in respect of good people (~10% more)
# 2: Credit Amount - Bad people usually have a bigger Credit respect of good people (~5% more)
# 3: Install rate - Bad people usually have a longer duration of the loan in respect of good people (~5% more)
# 4: Age - Bad people are usually youger than good people (~5% less)